.nav-wrapper {
  display: flex;
  justify-content: left;
  width: 100%;
  padding: 0.5%;

  .middle-nav {
    display: flex;
  }

  .nav-link-wrapper {
    height: 30px;
    font-size: 30px;
    border-bottom: 1px solid transparent;
    margin-right: 20px;
    text-transform: uppercase;

    a {
      color: red;
      text-decoration: none;
      &:hover {
        color: greenyellow;
        transition: 0.5s ease-in-out;
      }
    }

    .nav-link-active {
      border-bottom: 1px solid black;
      color: red;
      background-color: black;
    }
  }
}
